#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  overflow-x: auto;
  background-color: #FF5733;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Arial, sans-serif;
  overflow-x: auto; 
  background-color: #FF5733;
}


/* Mobile optimization */
@media (max-width: 768px) {
  #root {
    padding: 1rem;
  }
}
